/*-----------
    Reset
------------*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

header {
    text-align: center;
    background-color: lightcoral;
    padding-top: 30px;
}

h1 {
    font-size: 36px;
}

p{
    padding: 30px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    padding-top: 30px;
}

#numeri {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

#numeri div {
    background-color: lightgreen;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin: 10px;
}
